<div class="timeline-wrapper">
  <div class="timeline-container">
    <div class="filter-container">
      <!-- Formulaire -->
      <h3>Filtrer par</h3>
      <form (ngSubmit)="sortAndFilterEvents()">
        <div class="form-group">
          <label for="location">Lieu</label>
          <input id="location" type="text" [(ngModel)]="filter.location" name="location" />
        </div>

        <div class="form-group">
          <label for="civilization">Civilisation</label>
          <input id="civilization" type="text" [(ngModel)]="filter.civilization" name="civilization" />
        </div>

        <div class="form-group">
          <label for="date">Date (année)</label>
          <input id="date" type="text" [(ngModel)]="filter.date" name="date" />
        </div>

        <button type="submit">Appliquer le(s) filtre(s)</button>
      </form>
    </div>

    <!-- Frise + Image dans la même colonne -->
    <div class="timeline-content">
      <div class="timeline-horizontal">
        <div *ngFor="let event of filteredEvents" class="timeline-item">
          <div class="date">{{ event.startDate }} - {{ event.endDate }}</div>
          <div class="content">
            <h2>{{ event.title }}</h2>
            <p>{{ event.description }}</p>
            <button class="btn-link" (click)="goToDetail(event.id)">Voir les détails</button>
          </div>
        </div>
      </div>
      <div class="bottom-image">
        <img src="/images/sl_070722_51460_17.jpg" alt="Image décorative en bas">
      </div>
    </div>
  </div>
</div>
